<h3 {{action "toggleListDetail"}} class="list-header">{{list.title}}</h3>

<ul>
  {{#each list.items as |item|}}
    {{shopping-list/item item=item deleteItem="deleteItem" toggleItemDone='toggleItemDone'}}
  {{/each}}
</ul>
<form class="form-group" {{action 'createItem' on='submit'}}>
  {{input placeholder="NewItem"
    class='input-group form-control'
    value=newItem.content
  }}

</form>
